body {
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-container {
    border: 1px solid red;
    height: 600px;
}

#main-ctn-header {
    padding: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#main-ctn-header h3 {
    opacity: 50%;
}

#main-title {
    font-size: 3rem;
    margin: 8% 0px 30px;
}

#evento-btn {
    border: none;
    font-size: 1.5rem;
    transition: 1s;
}

#evento-btn:hover {
    background-color: rgb(13, 157, 253);
    box-shadow: 0 0 10px rgb(13, 157, 253);
}

.evento {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.300);
    padding: 20px;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
}

.evento-acoes {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}