body {
    background-color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main-container {
    width: 200px;
    height: 300px;
}